$pink_500: #ef53ab;
$green_500: #a3ee1e;
$green_200: #bfed70;
$green_100: #d1fa89;
$blue_500: #51acfc;
$white_100: #f2f2f2;

$dark-mode-black_700: rgb(24, 20, 26);
$dark-mode-black_900: rgb(14, 11, 17);
$dark-mode-white: rgb(246, 223, 208);
